*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    font-size: 10px;
}
body{
    background-color: #010208;
    color: #ffffff;
    background-image: url(../img/body.jpg);
    background-repeat: no-repeat ;
    background-attachment: fixed;
    font-size: 2rem;
    overflow: scroll;



}
a:hover,.chevron i:hover{
    text-decoration: none;
}
.social-media .bi:hover{
    border-radius: 100%;
}
.chevron i:hover{
    color: #ce723c  ;
}
.chevron:hover,.social-media .bi:hover{
    color: rgb(17, 17, 17) ;
    background-color:#ffc209 !important;
}

.active{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-in-out;
    padding-top: 1.963rem;
    padding-bottom: 1.563rem;
    color: #010208;
    z-index: 2;

}
.active .ul-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.5px;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    
}
.active a{
    color: #010208;
    text-decoration: none;

}
a{
    color: #ffffff;
    text-decoration: none;

}
nav a span{
    color: #ffc209;
}
.active a span{
    color: #ffc209;
}
.active .logo{
    color: rgb(24, 23, 23);
    font-size: 2.8rem;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;

}
nav .logo{
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;

}
nav{
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.963rem;
    padding-bottom: 1.563rem;

}
nav ul li a:hover{
        /* background-color: #d3d3d4; */
    color: #ffc209;
    border-radius: 5rem;
}
 .position-relative{
    position: absolute;
    display: block;
    text-align: center;
    top: 32rem;
    left: 0rem;
    letter-spacing: 0.1rem;
} 
.cursor{
    display: inline-block;
    width: 3px;
    border:none;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}
@keyframes blink{
    0%{background-color: #ccc;}
    49%{background-color: #ccc;}
    50%{background-color: transparent;}
    99%{background-color: transparent;}
    100%{background-color: #ccc;}

}
.social-media a .bi{
    color: #ccc !important;
    font-size: 2rem;
    color: #ffc209;
    padding: 1rem;
}
.social-media{
margin-bottom: 5rem;

}
h3,h1,.position-relative .button{
    padding: 1rem;

}
.typedtext,.about-me{
    color: #ce723c;
}
h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}
h3{
    font-size: 2.3rem;
}
.work-contact{
    position: absolute;
    left: 40%;
    display: flex;
}
.download{
    font-size: 2rem;
    position: relative;
    background-color: #ce723c;
    border-radius: 5rem;
    padding: 1.5rem 3.5rem;
    margin-left: 1.5rem;
    width: 25rem;
    margin-top: 5rem;

}
.position-relative .work-contact .button,.download{
    font-size: 2rem;
    position: relative;
    background-color: #ce723c;
    border-radius: 5rem;
    padding: 1.5rem 3.5rem;
    margin-left: 1.5rem;
    display: block;
    z-index: 1;
    cursor: pointer; 
    border: none; 

}
.position-relative .work-contact .button::before,.download::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    transition: all 500ms ease;
    border-radius: 5rem;
    transform-origin: center;
    background-color:#ffc209;
    transform:scaleX(0);
    z-index: -1;

}
.position-relative .work-contact .button:hover::before,.download:hover::before{
    transform: scaleX(1) ;

}
.position-relative .work-contact .button:hover,.download:hover{
    color:#38393d;
    text-decoration: none;
}

.chevron{
    position: absolute;
    top: 88%;
    left: 48%;
    transform: translate(88%-48%); 
    font-size: 1.5rem;
    background-color: #38393d;
    padding: 0.5rem 1rem;
    border-radius: 50%;  
    cursor: pointer; 
    
}
.main{
    margin-top: 80rem;
    background-color:#11141b;

}
    

.section1-about,.section2-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#11141b;
    margin: auto;

 
}
.section1-about div{
    flex-basis: 35%;
    text-align: center;
    color: white;
    align-self: center;
    margin-top: 15rem;
}
.section1-about div p{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.section1-about div a{
    margin: auto;
}
.section1-about h3{
    flex-basis: 100%;
    margin-top: 5rem;
}
.section1-about .profil img{
    width: 50%;
    height: 40%;
    border-radius: 50%;
}
.section-about h2{
margin-top: 17rem;
}

.section-about{
    text-align: center;
    position: absolute; 
    top:90%;
    left: 46%;
    transform: translate(90%-46%);
    padding-top: 2rem;
}
h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;

}
.section-title h2::after    {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    content: "";
    bottom: 0px;
    max-width: 300px;
    margin: 0 auto;
}
.section-service h2{
    background-color: #010208;
    position: absolute;
    top: 2%; 
    left: 45%;
    margin-top: 3rem;
    transform: translate(45%-2%);
}
.section2-service{
    margin-top: 5rem;
    position: relative;
    background-color: #010208;


}
.article-service .single-services:hover .services-text a{
    background-color: #ffc209;
}
.bi-webcam{
    font-size: 5rem;
}
.article-service ,.show-service{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 15rem;
    padding:  2rem ;
    
}
.next, .prev{
    cursor: pointer;
}
.input{
text-align: center  ;
margin-bottom: 8rem;
background-color: #010208;
}
.next:hover,.prev:hover{
    color: #ffc209;
}
.next-prev{
    color: #ffc209;
}
.section3, .section4{
    position: relative;
    padding-top: 3rem;
}
.work-eduction-wrapper{
    margin-top: 6rem;
}
.section-work h2{
    position: absolute;
    top: 2%;
    left: 45%;
    transform: translate(2%-45%);
    text-align: center;

}

.single-services{
    flex-basis: 25%;
    position: relative;
    background-color: #22252d;
    margin: 0 2rem;
    padding: 3rem 2rem;
    display: block;
    margin-bottom: 10rem;
    text-align: center;

}
.show{
    display: block;
}
.hide{
    display: none !important;
}
.active{
    color: #ffc209;
}
.color{
    color: #ffc209;
    display: none;

}
.link-box{
    background-color: #38393d;
    color: #ce723c;
    padding: 1rem;
    width: 8rem;
    margin: auto;
    display: block;
    z-index: 1;
    border-radius: 100%;
    text-align: center;
}
.link-box img{
    width: 4rem;
    height: 4rem;
    color: #010208;
}
.single-services::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #ce723c;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 500ms ease;
    height: 100%;
    transform: scaleX(0);
    z-index: 1;
}
.single-services:hover::before{
    transform: scaleX(1);
}
.box-hover{
    color:#38393d;
    transform-origin: center;   
    background-color: #ce723c;

}
.link-box:hover{
    color:#38393d;
    transform-origin: center;   
    background-color: #ce723c;

}

.timeline-item{
    text-align: left;
    padding: 10px 30px 40px 30px;
    border-radius: 3px;
    background-color: #0c0f16;
    margin-bottom: 5px;
    margin: 0 15rem;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

}
.timeline-item h5{
    margin:3rem 0 0 2rem;
    font-size: 2rem;
}
.timeline-item p,.timeline-item small{
    margin-left: 2rem;
}
.timeline-item .icon:before {
    position: absolute;
    content: "";
    left: auto;
    top: auto;
    width: 1px;
    height: 150px;
    background-color: #ce723c;
    margin-top: 30px;
}
.timeline-item .icon:after {
    position: absolute;
    content: "";
    left: auto;
    top: auto;
    width: 8px;
    height: 8px;
    background-color: #ce723c;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: -3px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* start section skills*/
.section-skills h2{
    position: absolute;
    top: 5%;
    left: 45%;
    transform: translate(5%-45%);
}

.skill-item h6 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.skill-item {
    margin-bottom: 2rem;
    padding: 0 9rem;
    margin-left: 4rem;
}
.skill-progress{
    width: 100%;
    height: 0.8rem;
    position: relative;
    border-radius: 2rem;
    -webkit-transition: all 0.5s ease;
    transition: all 2s ease;
    background-color:#38393d;


}

.skill-item .skill-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #ce723c;
    border-radius: 2rem;
    transition: all 0.5s ease;
}
.skill-progress-bar span{
    position: absolute;
    bottom: 3%;
    right: 2%;
    transform: translate(3%-2%);

}
/* end section skills*/

.skills-wrapper,#contact,.work-eduction-wrapper{
    margin-top: 10rem;
    padding-bottom: 13rem;
    background-color: #010208;
}
.bg-dark {
    background-color: #11141b !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.section6{
    position: relative;
}
.section-portfolio h2{
    position: absolute; 
    top:8%;
    left: 43%;
    transform: translate(8%-43%);

}
.section1-portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:  2rem;

}

.section1-portfolio figure{
    position: relative;
    height: 50rem;
    margin: 2rem 0;
    flex-basis: 25%;
}

figure img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s ease 2s;
}
figure:hover img{
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes bounce {
        0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        }
        40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
        }
        70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
        }
        90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
        }
        }
        
        @keyframes bounce {
        0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        }
        40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
        }
        70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
        }
        90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
        }
        } 
      


figcaption{
    position: absolute; 
	top:0;
	left: 0;
	right: 0;
    bottom: 0;
    background-color: rgba(201, 76, 76, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
}
figure:hover figcaption{
    opacity: 1; 
}

#contact, .portfolio-nav{
    padding-top: 12rem;
    text-align: center;
}
.Recent{
    position: relative;
}
.section-touch h2{
    position: absolute; 
    top:5%;
    left: 43%;
    transform: translate(5%-43%);

}
form .controls div div div input,form .controls div div div textarea{
    width: 100%;
    padding: 15px 0px;
    color: #fff;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #353535;
    font-weight: 400;
    background: transparent;
    resize: none;
}
form .controls div div .after-btn{
    display: block;
    margin-top: 2rem;
    border: none;
    background-color: #38393d;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    color:#ffc209;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
form .controls div div .after-btn::before{
    position: absolute;
    content: "";
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 5rem;
    background-color: #ffc209;
    color: #38393d;
    transition: width 0.5s , height 0.5s  ;
    z-index: -1; 

}
form .controls div div .after-btn:hover::before{
    width: 30rem;
    height: 30rem;
}
form .controls div div .after-btn span:hover{
    color: #010208 !important;
}
.footer-media{
    text-align: center;  
    display: block;
    padding: 4rem;
    background-color: #010208;
    margin: 0;
}

/***** mobil *******/
@media screen and (max-width: 767px)
{
    nav{
        margin-left: 25rem;
        justify-content: center;
    
    }
    .active{
        margin-left: 25rem;
        justify-content: center;
        width: 100%;

    }
    body{
        background-color: #010208;
        color: #ffffff;
        background-image: url(../img/body.jpg);
        background-repeat: no-repeat ;
        background-attachment: fixed;
        font-size: 2rem;
        overflow: scroll;
    
    
    
    }
    .main{
        width: 100%;
        padding-left: 20rem;
    }
    
    
    
}
/*******tablette ***/
@media  screen and (min-width:768px) and (max-width:1023px)
{
}




